openapi: 3.2.0
info:
  title: Cosmose AI Deal Hunter Registration Learn To Code…
  description: Public registration, onboarding, invitation and account-lifecycle API behind Cosmose AI's KaiKai / Deal Hunter consumer app and its merchant and school lead-capture forms.
  version: v0
  x-harvested-from: https://api.sg.cosmose.co/deal-hunter-registration-api/v3/api-docs
  x-upstream-info:
    title: OpenAPI definition
    version: v0
servers:
- url: https://api.sg.cosmose.co/deal-hunter-registration-api
  description: Singapore production gateway (observed reachable, HTTP 200 on /v3/api-docs)
security:
- bearerAuth: []
tags:
- name: learn-to-code-controller
paths:
  /v1/learn-to-code/register:
    post:
      tags:
      - learn-to-code-controller
      operationId: register_2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserDto'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDto'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDto'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDto'
        '200':
          description: OK
      summary: Register 2
      x-summary-source: derived
components:
  schemas:
    UserDto:
      required:
      - age
      - city
      - country
      - email
      - firstName
      - language
      - lastName
      - password
      - promoCode
      type: object
      properties:
        firstName:
          type: string
        guardianName:
          type: string
        age:
          type: integer
          format: int32
        language:
          pattern: ^(en|es|pl|it|oo)$
          type: string
        country:
          type: string
        city:
          type: string
        email:
          type: string
        promoCode:
          type: string
        password:
          type: string
        source:
          type: string
        lastName:
          type: string
        preferredLanguage:
          type: string
    ErrorDto:
      type: object
      properties:
        errorCode:
          type: string
          enum:
          - BAD_REQUEST
          - CODE_EXCEEDED
          - CODE_NOT_FOUND
          - USER_ALREADY_REGISTERED
          - USER_NOT_FOUND
          - FORBIDDEN
          - MAX_RESETS_EXCEEDED
          - INVITATION_DAILY_LIMIT_EXCEEDED
          - EMAIL_ALREADY_TAKEN
        message:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      name: bearerAuth
      scheme: bearer
      bearerFormat: JWT
x-evidence:
  fetched: '2026-08-11'
  url: https://api.sg.cosmose.co/deal-hunter-registration-api/v3/api-docs
  http_status: 200
  content_type: application/json
